<mat-toolbar class="px-5">
    <span>{{titulo}}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>notifications</mat-icon>
    </button>
    <span class="text-muted">Usuario</span>
    <div>
        <img src="https://as01.epimg.net/meristation/imagenes/2022/04/27/noticias/1651090407_472545_1651090465_sumario_normal.jpg" class="img-fluid rounded-circle px-3" width="80px">
    </div>
</mat-toolbar>
